---
import RenderStars from './RenderStars.astro';
import { getTranslationFunction } from '../../utils/localization.ts';

// Get the translation function
const { lang } = Astro.params;
const t = getTranslationFunction(lang);

interface RatingAndReviewsProps {
  score: number; 
  votes: number;
}

const { score, votes } = Astro.props as RatingAndReviewsProps;

const ratingText = score >= 4.5 ? t("Overwhelmingly Positive") :
                   score >= 4.0 ? t("Very Positive") :
                   score >= 3.5 ? t("Mostly Positive") :
                   score >= 3.0 ? t("Mixed") :
                   score >= 2.5 ? t("Mostly Negative") :
                   score >= 2.0 ? t("Very Negative") :
                   t("Overwhelmingly Negative");
---

<section aria-labelledby="rating-reviews-heading" class="mt-8">
  <h3 id="rating-reviews-heading" class="text-2xl text-gray-300 font-bold mb-4">{t("Rating & Reviews")}</h3>
  <div class="flex items-center justify-between bg-gray-800 p-4 rounded-lg shadow-md" role="region" aria-labelledby="user-rating">
    <div class="flex items-center">
      <RenderStars rating={score} />
      <div class="ml-4" id="user-rating">
        <p class="text-xl text-white font-semibold">
          {ratingText}
        </p>
      </div>
    </div>
    <div class="ml-4 text-right" id="rating-container">
      <p itemprop="ratingValue" class="text-xl text-white font-semibold">{score.toFixed(1)}</p>
      <p class="text-sm text-gray-400">{t("User Score")}</p>
      <meter value={score} min="0" max="5" class="hidden">{score.toFixed(1)}</meter>
    </div>
  </div>
</section>
