---
import { Icon } from 'astro-icon/components';
import { getTranslationFunction } from "../../utils/localization.ts";

const availableAt = Astro.props.availableAt;
const lang = Astro.props.lang;
const t = getTranslationFunction(lang);

const rows = availableAt.platforms || [];
---

<section class="bg-gray-900 mt-10 rounded-xl shadow-xl" aria-labelledby="where-to-watch-heading">
    <div class="flex items-center mb-4">
        <!-- <Icon
            name="fa6-solid:tv"
            aria-label="TV Icon"
            class="text-gray-200 mr-2"
            style="width: 32px; height: 32px;"
        /> -->
        <h2 id="where-to-watch-heading" class="text-gray-300 text-2xl font-bold">{t("Where to watch")}</h2>
    </div>
    <div class="bg-gray-800 p-4 rounded-lg overflow-hidden shadow-lg">
        <table class="min-w-full divide-y divide-gray-600">
            <thead>
                <tr class="text-base font-semibold text-gray-200 py-3 border-b border-gray-600">
                    <th class="px-4 py-2 text-center" scope="col">{t("Platform")}</th>
                    <th class="px-4 py-2 text-center" scope="col">{t("Availability")}</th>
                    <th class="px-4 py-2 text-center" scope="col">{t("Link")}</th>
                </tr>
            </thead>
            <tbody id="rows-content">
                {rows.length > 0 ? (
                    rows.map((row, index) => (
                        <tr key={index} class="hover:bg-gray-700 transition-colors duration-150">
                            <td class="px-4 py-2">
                                <div class="flex items-center justify-center">
                                    <Icon
                                        name="fa6-solid:circle-info"
                                        aria-label={`Info for ${row.platform}`}
                                        class="text-gray-200 mr-2"
                                        style="width: 16px; height: 16px;"
                                    />
                                    <span class="text-center">{row.platform}</span>
                                </div>
                            </td>
                            <td class="px-4 py-2 text-center">{row.platform_monetization}</td>
                            <td class="px-4 py-2 text-center text-blue-300 cursor-pointer hover:text-blue-500">
                                <a href={row.url} target="_blank" rel="noopener noreferrer" aria-label={`Watch on ${row.platform}`}>
                                    <Icon name="fa6-solid:link" class="inline mr-1" />
                                    {t("Watch here")}
                                </a>
                            </td>
                        </tr>
                    ))
                ) : (
                    <tr>
                        <td colSpan="3" class="text-center text-gray-200 py-4">{t("No links available at this moment")}</td>
                    </tr>
                )}
            </tbody>
        </table>
    </div>
</section>
