---
import ShadowMovieCard from './ShadowMovieCard.astro';
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
  movieYear: string;
  posterUrl: string;
  movieTitle: string;
  movieSlug: string;
  movieDuration: number;
  moviePlot: string;
  movieScore: number;
}
const props: Props = Astro.props;

const movie_url =  getRelativeLocaleUrl(Astro.currentLocale, props.movieSlug);
---
  <article class="group flex flex-col shadow-md rounded-lg overflow-hidden mx-auto relative transform hover:-translate-y-2 transition ease-in-out duration-500 w-full h-full">
    <a href={movie_url}>
      <img class="absolute inset-0 z-10 object-cover w-full h-full" src={props.posterUrl} alt="" />
      <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-80 z-20 transition duration-500"></div>
      <figcaption class="absolute top-2 left-2 bg-black bg-opacity-70 text-white rounded-full px-3 py-1 z-40 opacity-100 group-hover:opacity-0 transition duration-500">
        {props.movieYear}
      </figcaption>
      <div class="absolute inset-0 flex justify-center items-center opacity-0 group-hover:opacity-100 z-50 transition duration-500">
        <ShadowMovieCard
            movieSlug={props.movieSlug} 
            movieTitle={props.movieTitle} 
            movieDuration={props.movieDuration}
            moviePlot={props.moviePlot}
            movieScore={props.movieScore}
            />
      </div>
    </a>
  </article>