---
import { Icon } from 'astro-icon/components';
import { getTranslationFunction } from '../utils/localization.ts';

// Get the translation function
const { lang } = Astro.params;
const t = getTranslationFunction(lang, false);

const { cast, producers, screenwriters, directors, musicians } = Astro.props;
const subsections = [
    { title: t("Cast"), data: cast, icon: 'fa-solid:user' },
    { title: t("Producers"), data: producers, icon: 'fa-solid:film' },
    { title: t("Screenwriters"), data: screenwriters, icon: 'fa-solid:pen-fancy' },
    { title: t("Directors"), data: directors, icon: 'fa-solid:chair' },
    { title: t("Musicians"), data: musicians, icon: 'fa-solid:music' }
];
---

<style>
.title::before {
    content: "• ";
    color: white;
}
</style>

<section class="mt-10 px-4 lg:px-0" aria-labelledby="movie-staff-heading">
    <h2 id="movie-staff-heading" class="text-2xl text-gray-300 mb-2 font-bold">{t("Staff")}</h2>

    <div class="space-y-6">
        {subsections.map((subsection, idx) => subsection.data && subsection.data.length > 0 && (
            <section aria-labelledby={`subsection-heading-${idx}`} role="group">
                <div class="flex justify-between items-center px-5 py-3">
                    <span id={`subsection-heading-${idx}`} class="text-xl font-semibold text-white font-mono title">{subsection.title}</span>
                    <div class="p-2 border-4 border-gray-500 rounded-full bg-gray-700 shadow">
                        <Icon name={subsection.icon} class="fa-lg text-white" />
                    </div>
                </div>

                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-4 bg-gray-800 rounded-lg">
                    {subsection.data.map((person, personIndex) => (
                        <div class="bg-gray-700 rounded-lg p-4 hover:bg-gray-600 transition-colors duration-200" aria-labelledby={`person-name-${idx}-${personIndex}`}>
                            <p id={`person-name-${idx}-${personIndex}`} class="text-md text-white truncate">{person.name}</p>
                            <p class="text-sm text-gray-400 truncate">{person.role? t(person.role) : ""}</p>
                        </div>
                    ))}
                </div>
            </section>
        ))}
    </div>
</section>
