---
interface MovieInfoPannelProps {
    posterUrl: string;
    genres: string;
    duration: string;
    productionCountries: string;
    movieSaga: string;
    otherTitles: string;
}

const { posterUrl, genres, duration, productionCountries, movieSaga, otherTitles } = Astro.props;
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faGlobe, faClock, faBookOpen, faVideo, faTags } from '@fortawesome/free-solid-svg-icons';
---

<div>
    <img src={posterUrl} alt="Movie Poster" class="w-full h-auto object-cover rounded-lg"/>

    <div class="pr-4 pt-2 pb-2">
        <ul class="space-y-2">
            <li>
                <h4 class="text-lg font-semibold text-indigo-300 flex items-center"><FontAwesomeIcon icon={faBookOpen} class="w-3 h-3 mr-3 text-indigo-300" />Genres</h4>
                <p class="text-xs">{genres}</p>
            </li>
            
            <li>
                <h4 class="text-lg font-semibold text-indigo-300 flex items-center"><FontAwesomeIcon icon={faClock} class="w-3 h-3 mr-3 text-indigo-300" />Duration</h4>
                <p class="text-xs">{duration} minutes</p>
            </li>
            
            <li>
                <h4 class="text-lg font-semibold text-indigo-300 flex items-center"><FontAwesomeIcon icon={faGlobe} class="w-3 h-3 mr-3 text-indigo-300" />Production Countries</h4>
                <p class="text-xs">{productionCountries}</p>
            </li>

            <li>
                <h4 class="text-lg font-semibold text-indigo-300 flex items-center"><FontAwesomeIcon icon={faVideo} class="w-3 h-3 mr-3 text-indigo-300" />Saga</h4>
                <p class="text-xs">{movieSaga}</p>
            </li>

            <li>
                <h4 class="text-lg font-semibold text-indigo-300 flex items-center"><FontAwesomeIcon icon={faTags} class="w-3 h-3 mr-3 text-indigo-300" />Other Titles</h4>
                <p class="text-xs">{otherTitles}</p>
            </li>
        </ul>
    </div>
</div>
