---
import { getTopPagesByLang } from '../../utils/staticPathsGeneration.ts';
import Head from '../../components/Head.astro';
import UpdateVisitedFilms from '../../stores/updateVisitedFilms';
import { getTranslationFunction } from '../../utils/localization.ts';

export async function getStaticPaths() {
  return await getTopPagesByLang();
}

const { filmSlug, lang } = Astro.params;
const filmInfo = Astro.props

const t = getTranslationFunction(lang);

---
<html lang={lang}>
  <Head
    title={`${t("Watch %1% Online").replace('%1%', filmInfo.locationInfo.title)}`}
    description={filmInfo.locationInfo.synopsis}
    lang={lang}
    afterLangUrl={filmSlug}

    OGTitle={`${t("Watch %1% Online").replace('%1%', filmInfo.locationInfo.title)}`}
    OGType="video.movie"
    OGImage={filmInfo.extended_info.poster_url},
    OGImageAlt={`${filmInfo.locationInfo.title} Poster`}
  />

  <body>
    <h1>{filmInfo.locationInfo.title}</h1>
    <p>{filmInfo.locationInfo.synopsis}</p>
  </body>

  {/* Save the visited film in the local-storage to have it accessible for visited films recommendations (crossTab update)*/}
  <UpdateVisitedFilms slug={filmSlug} title={filmInfo.locationInfo.title} posterURL={filmInfo.extended_info.poster_url} client:idle/>
</html>