---
// Import your getHomePageFilmsByLang function
import { getHomePageFilmsByLang } from "../../utils/staticPathsGeneration.ts";
import { getTranslationFunction } from "../../utils/localization.ts";
import { getEntry } from "astro:content";

// Imports of Front-End components
import "./global.css"
import Head from "../../components/Head.astro";
import Banner from "../../components/Banner.jsx";
import NavBar from "../../components/NavBar/NavBar.jsx";
import MovieCard from "../../components/MovieCard/MovieCard.jsx";
import MovieCardHaru from "../../components/react/MovieCardHaru.jsx";
import VisitedFilmsGrid from "../../components/react/VisitedFilmsGrid.jsx";
import Grid from '../../components/Grid.astro';
// javascript code:
const movieIds = Array.from({ length: 24 }, (_, i) => i + 1); 

// Fetch the films
export async function getStaticPaths() {
    return await getHomePageFilmsByLang(10);
}

// Destructure the props
const { topLocationFilms, topFilms } = Astro.props;
const { lang } = Astro.params;

// Get the translation function
const t = getTranslationFunction(lang);
const config = (await getEntry("configs", "site-config")).data;
---

<html lang={lang}>
    <Head
        title={config["siteName"]}
        description={t("meta.description")}
        lang={lang}
        afterLangUrl={""}
        OGTitle={config["siteName"]}
        OGType={"website"}
        OGImage={config["OGImage.home"]}
        OGImageAlt={`${config["siteName"]} Banner`}
    />
    <body>
        <!-- If I don't use client load here, navbar goes crazy until I move the scroll bar. Weird that with only=react behaves better -->
        <NavBar client:only="react" />

        <!-- Main container with background and text color -->
        <div class="bg-gray-900 text-white">

            <Banner client:load/> {/* <-- Ask Haru abut this client:load thing*/}

            {/* Main content */}
            <main class="container mx-auto px-6 py-4"> 
                
                <!-- Title -->
                <div class="flex items-center text-2xl font-bold text-white-600 mb-4">
                    <span>Watch movies online</span>
                </div>

                {/* Responsive Movie Grid */}
                <!-- <Grid>
                    {movieIds.map((id) => (
                        <MovieCard movieId={id.toString()} />
                    ))}
                </Grid> -->
                
                <Grid>
                    {topFilms.map((film) => (
                        <MovieCard
                            movieId={film.slug}
                            movieYear={2023}
                            posterUrl={film.extended_info.poster_url}
                            movieTitle={film.locationInfo.title}
                            movieSlug={film.slug}
                            currentLocale={Astro.currentLocale} />
                    ))}
                </Grid>

            


                <section>
                    <h2>Top Location Films</h2>
                <section/>
            </main>
        </div>






        <div class='container'>
            <section>
                <h2>Top Location Films</h2>
                <div class='film-grid'>
                    {
                        topLocationFilms.map((film) => (
                            <MovieCardHaru
                                posterURL={film.extended_info.poster_url}
                                movieTitle={film.locationInfo.title}
                                movieSlug={film.slug}
                                currentLocale={Astro.currentLocale}
                            />
                        ))
                    }
                </div>
            </section>

            <section>
                <h2>Top Films</h2>
                <div class='film-grid'>
                    {
                        topFilms.map((film) => (
                            <MovieCardHaru
                                key={film.slug}
                                posterURL={film.extended_info.poster_url}
                                movieTitle={film.locationInfo.title}
                                movieSlug={film.slug}
                                currentLocale={Astro.currentLocale}
                            />
                        ))
                    }
                </div>
            </section>
            <div class='container'>
                <p> Probably won't need that part on the home page so we can avoid client hydrated components</p>
                {<VisitedFilmsGrid currentLocale={Astro.currentLocale} client:only="react"/>}
            </div>
        </div>


    </body>
</html>

<style>
  .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
  }

  .film-grid {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 20px;
  }

  @media screen and (max-width: 768px) {
      .film-grid {
          grid-template-columns: repeat(2, 1fr);
      }
  }
</style>
