---
import "../../layouts/global.css";

// Import the components
import Head from "../../components/Head.astro";
import Banner from "../../components/react/Banner.jsx";
import NavBar from "../../components/NavBar.astro";
import MovieCard from "../../components/MovieCard/MovieCard.astro";
import VisitedFilmsGrid from "../../components/react/VisitedFilmsGrid.jsx";
import Grid from '../../components/Grid.astro';

// Import your getHomePageFilmsByLang function
import { getHomePageFilmsByLang } from "../../utils/staticPathsGeneration.ts";
import { getTranslationFunction } from "../../utils/localization.ts";
import { getEntry } from "astro:content";

// Fetch the films
export async function getStaticPaths() {
    return await getHomePageFilmsByLang(10);
}

// Destructure the props
const { topLocationFilms, topFilms, bannerFilms } = Astro.props;
const { lang } = Astro.params;

// Get the translation function
const t = getTranslationFunction(lang);
const LANG_CODES_TO_NAMES = (await getEntry('location', 'languages-to-names')).data;
const config = (await getEntry("configs", "site-config")).data;
---

<html lang={lang}>
    <Head
        title={config["siteName"]}
        description={t("meta.description")}
        lang={lang}
        afterLangUrl={""}
        OGTitle={config["siteName"]}
        OGType={"website"}
        OGImage={config["OGImage.home"]}
        OGImageAlt={`${config["siteName"]} Banner`}
    />
    <body>
        <NavBar />
        <div class="bg-gray-900 text-white">
            <!-- Banner component with film data -->
            <header>
                <Banner client:only="react" films={bannerFilms} lang={Astro.params.lang} />
            </header>
            
            <!-- Main content -->
            <main class="container mx-auto px-6 py-4" role="main"> 
                
                <!-- Title for top all-time films -->
                <section aria-labelledby="top-all-time-films">
                    <h2 id="top-all-time-films" class="flex items-center text-3xl font-bold text-white mb-6">
                        {t("Top All Time Films")}
                    </h2>

                    <!-- Grid of movie cards -->
                    <Grid>
                        {topFilms.map((film) => (
                            <MovieCard
                                movieYear={film.basic_info.year}
                                posterUrl={film.extended_info.poster_thumbnail_url}
                                movieTitle={film.locationInfo.title}
                                movieSlug={film.slug}
                                movieDuration={film.basic_info.duration_minutes}
                                moviePlot={film.locationInfo.short_synopsis}
                                movieScore={film.film_affinity_info?.score?.average ?? 'Not available'} />
                        ))}
                    </Grid>
                </section>

                <!-- Title for top films in specific location -->
                <section aria-labelledby="top-location-films">
                    <h2 id="top-location-films" class="flex items-center text-3xl font-bold text-white py-6">
                        Top Films in {t(LANG_CODES_TO_NAMES[lang])}
                    </h2>

                    <!-- Grid of movie cards -->
                    <Grid>
                        {topLocationFilms.map((film) => (
                            <MovieCard
                                movieYear={film.basic_info.year}
                                posterUrl={film.extended_info.poster_url}
                                movieTitle={film.locationInfo.title}
                                movieSlug={film.slug}
                                movieDuration={film.basic_info.duration_minutes}
                                moviePlot={film.locationInfo.synopsis}
                                movieScore={film.film_affinity_info?.score?.average ?? 'Not available'} />
                        ))}
                    </Grid>
                </section>

                <!-- Grid of visited films -->               
                <!-- TODO: Implement this after the release -->
                <!-- <section aria-labelledby="visited-films">
                    <h2 id="visited-films" class="flex items-center text-3xl font-bold text-white py-6">
                        {t("Visited films")}
                    </h2>
                    <div class='container'>
                        {<VisitedFilmsGrid currentLocale={Astro.currentLocale} client:only="react"/>}
                    </div>
                </section> -->
            </main>
        </div>
    </body>
</html>
