---
// Import your getHomePageFilmsByLang function
import { getHomePageFilmsByLang } from "../../utils/staticPathsGeneration.ts";

import { getTranslationFunction } from "../../utils/localization.ts";
import { getEntry } from "astro:content";

import Head from "../../components/Head.astro";
import MovieCard from "../../components/react/MovieCard.jsx";
import VisitedFilmsGrid from "../../components/react/VisitedFilmsGrid.jsx";

// Fetch the films
export async function getStaticPaths() {
    return await getHomePageFilmsByLang(10);
}

// Destructure the props
const { topLocationFilms, topFilms } = Astro.props;
const { lang } = Astro.params;

// Get the translation function
const t = getTranslationFunction(lang);
const config = (await getEntry("configs", "site-config")).data;
---

<html lang={lang}>
    <Head
        title={config["siteName"]}
        description={t("meta.description")}
        lang={lang}
        afterLangUrl={""}
        OGTitle={config["siteName"]}
        OGType={"website"}
        OGImage={config["OGImage.home"]}
        ,
        OGImageAlt={`${config["siteName"]} Banner`}
    />
    <body>
        <!-- Your HTML starts here -->
        <div class='container'>
            <section>
                <h2>Top Location Films</h2>
                <div class='film-grid'>
                    {
                        topLocationFilms.map((film) => (
                            <MovieCard
                                posterURL={film.extended_info.poster_url}
                                movieTitle={film.locationInfo.title}
                                movieSlug={film.slug}
                                currentLocale={Astro.currentLocale}
                            />
                        ))
                    }
                </div>
            </section>

            <section>
                <h2>Top Films</h2>
                <div class='film-grid'>
                    {
                        topFilms.map((film) => (
                            <MovieCard
                                key={film.slug}
                                posterURL={film.extended_info.poster_url}
                                movieTitle={film.locationInfo.title}
                                movieSlug={film.slug}
                                currentLocale={Astro.currentLocale}
                            />
                        ))
                    }
                </div>
            </section>
            <div class='container'>
                <p> Probably won't need that part on the home page so we can avoid client hydrated components</p>
                {<VisitedFilmsGrid currentLocale={Astro.currentLocale} client:only="react"/>}
            </div>
        </div>
    </body>
    
</html>

<style>
  .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
  }

  .film-grid {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 20px;
  }

  @media screen and (max-width: 768px) {
      .film-grid {
          grid-template-columns: repeat(2, 1fr);
      }
  }
</style>