---
import "../../../layouts/global.css";

// Import the components
import Head from "../../../components/common/Head.astro";
import NavBar from "../../../components/navbar/NavBar.astro";
import MovieCard from "../../../components/common/moviecard/MovieCard.astro";
import Grid from '../../../components/common/Grid.astro';
import BestMoviesHero from '../../../components/BestMoviesHero.astro';

// Import your getHomePageFilmsByLang function
import { getHomePageFilmsByLangAndGenres } from "../../../utils/staticPathsGeneration";
import { getTranslationFunction } from "../../../utils/localization";
import { getEntry } from "astro:content";

// Fetch the films
export async function getStaticPaths() {
    return await getHomePageFilmsByLangAndGenres(50);
}

// Destructure the props
const { topLocationFilms, topFilms, bannerFilms } = Astro.props;
const { lang, genre } = Astro.params;

// Get the translation function
const t = getTranslationFunction(lang);
const config = (await getEntry("configs", "site-config")).data;

const sectionDescriptions = (await getEntry("seo", "section-descriptions")).data;
// Create an array of grid sections with title and subtitle
const gridSections = [
    {
        ...sectionDescriptions["genre"][genre],
        films: topFilms,
    }
];
---

<html lang={lang}>
    <Head
        title={`${config["siteName"]} | ${t(sectionDescriptions["genre"][genre].title)}`}
        description={t(sectionDescriptions["genre"][genre].description)}
        lang={lang}
        afterLangUrl={`by-genre/${genre}`}
        OGTitle={config["siteName"]}
        OGType={"website"}
        OGImage={config["OGImage.home"]}
        OGImageAlt={t("Discover New Movies on %1").replace("%1", config["siteName"])}
    />
    <body>
        <NavBar currentGenre = {genre}/>
        <div class="bg-gray-900 text-white">
            <!-- Banner component with film data -->
            <BestMoviesHero films={bannerFilms}/>
            
            <!-- Main content -->
            <main class="container mx-auto px-6 py-4"> 
                {gridSections.map((section) => (
                    <section aria-labelledby={section.id} aria-describedby={`${section.id}-description`} class="mb-8">
                        <h2 id={section.id} class="flex items-center text-3xl font-bold mb-6">
                            <span class="text-white">{t(section.title)}</span>
                            <span class="text-gray-400 font-light ml-2">{t(section.subtitle)}</span>
                        </h2>
                        <p id={`${section.id}-description`} class="sr-only">
                            {section.description}
                        </p>
                        <!-- Grid of movie cards -->
                        <Grid>
                            {section.films.map((film) => (
                                <MovieCard
                                    movieYear={film.basic_info.year}
                                    posterUrl={film.extended_info.poster_thumbnail_url}
                                    movieTitle={film.locationInfo.title}
                                    movieSlug={film.slug}
                                    movieDuration={film.basic_info.duration_minutes}
                                    moviePlot={film.locationInfo.short_synopsis}
                                    movieScore={film.film_affinity_info?.score?.average ?? 'Not available'} />
                            ))}
                        </Grid>
                    </section>
                ))}
                
                <!-- Grid of visited films -->               
                <!-- TODO: Implement this after the release -->
                <!-- <div class="flex items-center text-3xl font-bold text-white py-6">
                    <span>Visited films</span>
                </div> -->
                <!-- <div class='container'>
                    {<VisitedFilmsGrid currentLocale={Astro.currentLocale} client:only="react"/>}
                </div> -->
            </main>
        </div>
    </body>
</html>
